.interRoute-yidong{
	background-image: url("../images/interRoute/yidong.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height:68px;
	
}
.interRoute-liantong{
	background-image: url("../images/interRoute/liantong.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height: 68px;
	
}
.interRoute-dianxin{
	background-image: url("../images/interRoute/dianxin.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height: 68px;
	
}
.interRoute-tietong{
	background-image: url("../images/interRoute/tietong.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height: 68px;
	
}
.interRoute-jiaoyuwang{
	background-image: url("../images/interRoute/jiaoyuwang.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height: 68px;
	
}
.interRoute-pengboshi{
	background-image: url("../images/interRoute/pengboshi.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height: 68px;
	
}
.interRoute-unknow{
	background-image: url("../images/interRoute/unknow.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height: 68px;
	
}
.interRoute-yidong-red{
	background-image: url("../images/interRoute/yidong-red.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height: 68px;
}
.interRoute-liantong-red{
	background-image: url("../images/interRoute/liantong-red.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height: 68px;
}
.interRoute-dianxin-red{
	background-image: url("../images/interRoute/dianxin-red.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height: 68px;
}
.interRoute-tietong-red{
	background-image: url("../images/interRoute/tietong-red.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height:68px;
}
.interRoute-jiaoyuwang-red{
	background-image: url("../images/interRoute/jiaoyuwang-red.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height:68px;
}
.interRoute-pengboshi-red{
	background-image: url("../images/interRoute/pengboshi-red.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height:68px;
}
.interRoute-unknow-red{
	background-image: url("../images/interRoute/unknow-red.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:92px;
	height:68px;
}
.interRoute-line{
	background-image: url("../images/interRoute/line.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:68px;
	height:68px;
}
.interRoute-red-line{
	background-image: url("../images/interRoute/red-line.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:68px;
	height:68px;
}
.interRoute-arrow{
	background-image: url("../images/interRoute/arrow.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:68px;
	height:68px;
}
.interRoute-red-arrow{
	background-image: url("../images/interRoute/arrow.png");
	background-repeat: no-repeat;
	background-position: top center;
	width:68px;
	height:68px;
}
.interRoute-table-route td{
	height: 68px;
	width: 92px;
}

.interRoute-table-info{
	
}
.interRoute-line1{
	height: 68px !important;
	width: 68px !important;
}
.interRoute-table-info td{
	color: #fff;
	font-size: 12px;
	min-height: 20px;
}
.interRoute-table-info div{
	color: #fff;
	font-size: 12px;
	min-height: 20px;
}
.interRouteView td{
	font-size: 12px;
	text-align: center;
}